<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="title">Roots</title>
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/tree.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Roots</a>
    <img src="/assets/images/Family-Tree-PNG-Picture.png" alt="logo" style="width:75px;height:75px;">

    
  </div>
    
    <div class="navbar-end">

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-small is-success" href="/signup">
          
            <strong>Sign up</strong>
          </a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <a class="button is-small is-success is-light" id="logout" href="/login">
            Logout
          </a>
        {{else}}
          <a class="button is-small is-success is-light" href="/login">
            Log in
          </a>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

<main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
      <div class ="description">Find your family tree. Add to, create, and learn about your family roots!</div>
      <img src="/assets/images/family.jpeg" alt="family" style="width:75px;height:75px;">


    </main>
    <footer class="has-text-centered">
      <p>
        Please contact us at
      <a href="*">(800)-555-ROOT</a>
        and 
        <a href="*">roots@gmail.com</a>

      </p>

    </footer>

{{!-- <body> --}}
<footer>
</footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
    <script src="../../public/js/tree/d3.js"></script>
    <script src="../../public/js/tree/d3-selection-multi.js"></script>
    <script type="text/javascript" src="../../seeds/treedata.json"></script> 
    <script src="../../public/js/tree.js"></script>
</body>

</html>
