<!-- Loop over each object in the children array -->
{{#each children as |children| }}
<div>
  <div class="container is-max-desktop has-text-centered">
    <a class="button is-large is-success is-light is-centered" href="/survey">
            Add A Family Member
          </a>
  </div>
    
  <div class="container is-max-desktop has-text-centered">
    <a class="button is-large is-success is-light is-centered" href="/tree">
            View Family Tree
          </a>
  </div>
</div>
{{/each}}
