<div class="row">
  <div class="col-auto">
    <h2>Welcome to Roots!</h2>
  </div>
</div>

<div class="row mt-4 survey">
  <div class="col-md-6">
    <h3>Please enter your first child to get started!</h3>

    <form class="form new-family-tree-form">

      <div class="form-group">
        <label for="full-name">Full Name:</label>
        <input class="form-input" type="text" id="full-name" name="full-name"/>
      </div>

      <div class="form-group">
        <label for="relationship">Related too:</label>
        <input class="form-input" type="number" id="relationship" name="relationship" />
      </div>


      <div class="form-group">
        <button class="btn btn-primary" type="submit" id ="submit">Submit</button>
      </div>
    </form>
    </div>
  </div>


<script type="application/javascript" src="/js/survey.js"></script>