

<div id="border" class="row mt-4 survey has-text-centered">
        {{{ body }}}
        <h2 id="title">Survey</h2>
  
  <div class="mt-2 col-md-6">
    <form class="form new-family-tree-form">

      <div id="spacing" class="form-group">
        <label for="full-name">Full Name:</label>
        <input class="form-input" type="text" id="full-name" name="full-name"/>
      </div>

      <div id="spacing" class="form-group">
        <label for="relationship">Related to:</label>
        <input class="form-input" type="number" id="relationship" name="relationship" />
      </div>


      <div id="spacing" class="form-group">
        <button class="btn btn-primary" type="submit" id ="submit">Submit</button>
      </div>
    </form>
    </div>
  </div>


<script type="application/javascript" src="/js/survey.js"></script>