
    <div class="buttonGroup">
        <p>Tree Structure</p>

    </div>

    <!-- contains the SVG chart and upload to the browser -->
    <div id="chart">

    </div>

    <script src="../public/js/tree/d3.js"></script>
    <script src="../public/js/tree/d3-selection-multi.js"></script>
    <script type="text/javascript" src="../seeds/treedata.json"></script> 
    <script src="../public/js/tree.js"></script>